<a href="https://colab.research.google.com/github/SergioDiazDev/AmazonReviews/blob/master/Reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Reviews Amazon

##Problema:
Existencia de reviews en Amazon fraudulentas, a cambio de dinero o de la devolucion del dinero, lo que hace que productos de baja calidad o fraudulentos consigan una puntuacion alta.

##¿Como podemos solucionarlo?

Comprobando los usuarios que mas valoraciones altas realizan y lo utiles que son sus reviews para otros usuarios.

Tambien se observa si sus reviews contien una cantidad de texto definida.

In [2]:
import pandas as pd
import numpy as np

Creo la variable **dataset** don he guardado el csv para trabajar con pandas.

In [3]:
dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Reviews.csv',sep=',')

Elimino los datos nulos, para evitar interferencias y que los datos nulos son despreciables respecto a la muestra.

In [4]:
print('Total de datos:',len(dataset.index))

print(dataset.isna().sum())

dataset= dataset.dropna()

Total de datos: 568454
Id                         0
ProductId                  0
UserId                     0
ProfileName               16
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

Ahora comprobare cuantos usuarios(UserId) han realizado más de una review de 5 estrellas

In [5]:
filtro = dataset['Score'] == 5
user_Score5 = dataset[filtro]

user_Score5 = (user_Score5[['UserId', 'Score']].value_counts()).to_frame()
user_ScoreN5 = (dataset[['UserId','Score']].value_counts()).to_frame()

Creo una tabla que relacione la cantidad de reviews totales con las reviews de 5 estrellas

In [20]:
tabla=pd.merge(user_Score5,user_ScoreN5,on='UserId')

tabla.columns = ['Total_Score', 'Star_5']

tabla

                Total_Score  Star_5
UserId
A281NPSIMI1C2R          326     326
A281NPSIMI1C2R          326      20
A281NPSIMI1C2R          326      19
AY12DBB0U420B           286     286
AY12DBB0U420B           286      74
...                     ...     ...
A2H92JBMYI97KA            1       1
A2H92JBMYI97KA            1       1
A2H93O0WTP4XNT            1       1
A2H94DJ29DY3HX            1       1
AZZYCJOJLUDYR             1       1

[214269 rows x 2 columns]

A continuacion voy a considerar que a partir de 50 reviews podemos tener a un potencial usuario fraudulento, entonces eleminare de la tabla a todos los usuarios que tengan menos de 50 reviews.

In [21]:
filtro = tabla['Total_Score'] > 50
tabla = tabla[filtro]
tabla

                Total_Score  Star_5
UserId
A281NPSIMI1C2R          326     326
A281NPSIMI1C2R          326      20
A281NPSIMI1C2R          326      19
AY12DBB0U420B           286     286
AY12DBB0U420B           286      74
...                     ...     ...
AJQDIT55SZ3ZX            51      51
AJQDIT55SZ3ZX            51       4
AJQDIT55SZ3ZX            51       3
AJQDIT55SZ3ZX            51       3
AJQDIT55SZ3ZX            51       2

[372 rows x 2 columns]

Ahora vamos a calcular la el porcentaje de reviews de 5 estrellas que realizan los usuarios.

In [ ]:
tabla